<% layout("layouts/boilerplate") %>
    <body>
        <div class="row">
            <div class="col-8 offset-3">
                <h3><%= listing.title %></h3>
            </div>
            <div class="card col-6 offset-3">
                <img src="<%= listing.img.url %>" class="card-img-top show-img" alt="Hotel's img">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text">
                        &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                           <b><%= listing.location %>,</b> 
                           <b><%= listing.country %></b> </br>
                    <a href="/listings/<%= listing._id %>/edit"><i class="fa-solid fa-pen-to-square"></i> </a>
                    <a href="/listings/<%= listing._id %>/delete  "><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            <div class="col-8 offset-3">
                <hr>
                <h4>Leave a Review</h4>
                <form action="/listing/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
                    </div>
                    <div  class="mb-3 mt-3">
                        <label for="commant" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Please Enter Feedback
                        </div>
                    </div><br>
                    <button class="btn btn-dark">Submit</button>
                </form><br>
                <hr>
                <p><b>All Reviews</b></p>
                <div class="row">
                    <% for(let review of listing.reviews) { %>
                        <div class="card col-5 ms-2 mb-3">
                            <div class="card-body">
                                <h5>John jerry</h5>
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text">
                                    <% if(review.rating==5){%>
                                        <i class="fa-solid fa-star"></i> <%= review.rating %>
                                    <%} else if(review.rating==4) { %>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <%= review.rating %>
                                    <%} else if(review.rating==3) { %>
                                        <i class="fa-solid fa-star-half-stroke"></i><%= review.rating %>
                                    <%} else if(review.rating==2) { %>
                                        <i class="fa-regular fa-star"></i></i><%= review.rating %>
                                    <%} else{ %>
                                        <i class="fa-regular fa-star"></i></i><%= review.rating %>
                                    <% } %> 
                                </p>   
                            </div>
                            <form method="POST" action="/listing/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark mb-2">Delete</button>
                            </form>
                        </div>
                    <% } %>     
                </div>
            </div>
        </div>
    </body>