<% layout("layouts/boilerplate") %>
    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Listing Details:</h3>
            </div>
            <div class="card col-6 offset-2">
                <img src="<%= listing.img.url %>" class="card-img-top show-img" alt="Hotel's img">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text">
                        &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                           <b><%= listing.location %>,</b> 
                           <b><%= listing.country %></b> </br>
                    <a href="/listings/<%= listing._id %>/edit"><i class="fa-solid fa-pen-to-square"></i> </a>
                    <a href="/listings/<%= listing._id %>/delete  "><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>
    </body>